<section class="section-meals">
    <div class="container center-text">
        <span class="subheading">Cars</span>
        <h2 class="heading-secondary">
            Driving the Future: Innovation, Sustainability, and Power – Tesla Cars.
        </h2>
    </div>

    <div class="container grid grid--3-cols margin-bottom-md">
        <div class="meal">
            <img src="../../assets/model3.jpeg" class="meal-img" alt="Japanese Gyozas" />
            <div class="meal-content">
                <p class="meal-title">Model 3</p>
                <ul class="meal-attributes">
                    <li class="meal-attribute">
                        <span class="material-icons">
                            thumb_up_off_alt
                        </span>
                        <span><strong>333</strong> mi</span>
                    </li>
                    <li class="meal-attribute">
                        <span class="material-icons">
                            api
                        </span>
                        <span>AWD <strong> Dual Motor</strong></span>
                    </li>
                    <li class="meal-attribute">
                        <span class="material-icons">
                            grade
                        </span>
                        <span><strong>3.1s</strong> 0-60 mph</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="meal">
            <img src="../../assets/modelx6.jpg" class="meal-img" alt="Avocado Salad" />
            <div class="meal-content">
                <p class="meal-title">Model X</p>
                <ul class="meal-attributes">
                    <li class="meal-attribute">
                        <span class="material-icons">
                            thumb_up_off_alt
                        </span>
                        <span><strong>333</strong> mi</span>
                    </li>
                    <li class="meal-attribute">
                        <span class="material-icons">
                            api
                        </span>
                        <span>1020hp<strong> Peak Power</strong></span>
                    </li>
                    <li class="meal-attribute">
                        <span class="material-icons">
                            grade
                        </span>
                        <span><strong>2.5s</strong> 0-60 mph</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="meal">
            <img src="../../assets/model3.jpeg" class="meal-img" alt="Japanese Gyozas" />
            <div class="meal-content">
                <p class="meal-title">Model 3</p>
                <ul class="meal-attributes">
                    <li class="meal-attribute">
                        <span class="material-icons">
                            thumb_up_off_alt
                        </span>
                        <span><strong>333</strong> mi</span>
                    </li>
                    <li class="meal-attribute">
                        <span class="material-icons">
                            api
                        </span>
                        <span>AWD <strong> Dual Motor</strong></span>
                    </li>
                    <li class="meal-attribute">
                        <span class="material-icons">
                            grade
                        </span>
                        <span><strong>3.1s</strong> 0-60 mph</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="meal">
            <img src="../../assets/modelx6.jpg" class="meal-img" alt="Avocado Salad" />
            <div class="meal-content">
                <p class="meal-title">Model X</p>
                <ul class="meal-attributes">
                    <li class="meal-attribute">
                        <span class="material-icons">
                            thumb_up_off_alt
                        </span>
                        <span><strong>333</strong> mi</span>
                    </li>
                    <li class="meal-attribute">
                        <span class="material-icons">
                            api
                        </span>
                        <span>1020hp<strong> Peak Power</strong></span>
                    </li>
                    <li class="meal-attribute">
                        <span class="material-icons">
                            grade
                        </span>
                        <span><strong>2.5s</strong> 0-60 mph</span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- <div class="diets">
            <h3 class="heading-tertiary">Tesla Features:</h3>
            <ul class="list">
                <li class="list-item">
                    <span class="material-icons">
                        done_all
                    </span>
                    <span>Electric Power</span>
                </li>
                <li class="list-item">
                    <span class="material-icons">
                        done_all
                    </span>
                    <span>Supercharging Network</span>
                </li>
                <li class="list-item">
                    <span class="material-icons">
                        done_all
                    </span>
                    <span>Full Self-Driving (FSD)</span>
                </li>
                <li class="list-item">
                    <span class="material-icons">
                        done_all
                    </span>
                    <span>Over-the-Air Updates</span>
                </li>
                <li class="list-item">
                    <span class="material-icons">
                        done_all
                    </span>
                    <span>Storage Space</span>
                </li>
                <li class="list-item">
                    <span class="material-icons">
                        done_all
                    </span>
                    <span>Regenerative Braking</span>
                </li>
                <li class="list-item">
                    <span class="material-icons">
                        done_all
                    </span>
                    <span>Smart Summon</span>
                </li>
                <li class="list-item">
                    <span class="material-icons">
                        done_all
                    </span>
                    <span>Dual-Motor All-Wheel Drive</span>
                </li>
                <li class="list-item">
                    <span class="material-icons">
                        done_all
                    </span>
                    <span>Safety</span>
                </li>
                <li class="list-item">
                    <span class="material-icons">
                        done_all
                    </span>
                    <span>Premium Upgrades</span>
                </li>
            </ul>
        </div> -->
    </div>

    <div class="container all-recipes">
        <a href="#" class="link">See all cars &rarr;</a>
    </div>
</section>