<section class="section-meals">
    <div class="container center-text" style="margin-bottom: 50px;">
        <span style="font-size: 30px;font-weight: 700;">Cars Models</span>
        <div>
            <input type="text" class="search-input" [(ngModel)]="searchTerm" (input)="filterCarModels()"
                placeholder="Search car models">
        </div>
    </div>

    <div class="container grid grid--3-cols margin-bottom-md">
        <div *ngFor="let car of filteredPaginatedCarModels" class="meal">
            <img [src]="car.imageUrl" class="meal-img" [alt]="car.model_name" />
            <div class="meal-content">
                <p class="meal-title">{{ car.model_name }}</p>
                <ul class="meal-attributes">
                    <li class="meal-attribute">
                        <span class="material-icons">thumb_up_off_alt</span>
                        <span><strong>{{ car.milege }}</strong> mi</span>
                    </li>
                    <li class="meal-attribute">
                        <span class="material-icons">api</span>
                        <span>AWD <strong>{{ car['Dual Motor'] }}</strong></span>
                    </li>
                    <li class="meal-attribute">
                        <span class="material-icons">grade</span>
                        <span><strong>{{ car.mph }}s</strong> 0-60 mph</span>
                    </li>
                    <li class="meal-attribute">
                        <span class="material-icons">api</span>
                        <a routerLink="/car-details" [state]="{ car }" style="margin-top: 10px;">Learn More</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pagination">
            <button class="page-button" (click)="previousPage()" [disabled]="isOnFirstPage()" [class.disabled]="isOnFirstPage()">Previous</button>
            <span class="page-number">{{ currentPage }}</span>
            <button class="page-button" (click)="nextPage()" [disabled]="isOnLastPage()" [class.disabled]="isOnLastPage()">Next</button>
          </div>                 
    </div>
</section>