    <header class="tesla_container">
        <div class="tesla-logo">
            <img src="../../assets/tesla_logo3.jpg">
        </div>
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li><a href="#" class="main-nav-link">Vechicles</a></li>
                <li><a href="#" class="main-nav-link">About Us</a></li>
                <li><a href="#" class="main-nav-link">Contact Us</a></li>
                <li><a href="#" class="main-nav-link">Help</a></li>
                <!-- <li><a href="#" class="main-nav-link">Account</a></li> -->
            </ul>
        </nav>
    </header>
