<!-- <router-outlet></router-outlet> -->

<!-- <div>
  <h2>
    Asset Monitoring Solution
 </h2>
  <form [formGroup]="form">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
      <div class="deviceIdInput">
        <mat-form-field>
          <mat-label>Select Asset</mat-label>
          <mat-select formControlName="asset">
            <mat-option *ngFor="let asset of assets" [value]="asset.id">{{ asset.asset_name }}</mat-option>
          </mat-select>
          <mat-error>Asset is required</mat-error>
        </mat-form-field>
      </div>
      <div class="deviceIdInput">
        <mat-form-field>
          <mat-label>Select Data Logger</mat-label>
          <mat-select formControlName="dataLoggerModel">
            <mat-option *ngFor="let model of dataLoggerModel" [value]="model.logger_id" [disabled]="isConfigurationAdded">{{ model.name }}</mat-option>
          </mat-select>
          <mat-error>Data Logger is required</mat-error>
        </mat-form-field>
      </div>
    <div class="deviceIdInput">
      <ng-container *ngIf="iterationCount < iterationLength">
        <button mat-raised-button class="btn actionButton" (click)="addMorePhase(iterationCount)">
          Add Configuration
        </button>
      </ng-container>
      <ng-container *ngIf="iterationCount === iterationLength">
        <button mat-raised-button class="btn actionButton maxLimitButton" (click)="onSaveConfiguration()">
         Save Configuration
        </button>
        <button mat-raised-button class="btn actionButton" (click)="resetForm()">
          Add Data Logger Model
        </button>
      </ng-container>
    </div>
    
    </div>
    <p class="text">Configure Attributes</p>

    <div formGroupName="groupAttributes">
      <div formArrayName="configureAttributes">
        <div *ngFor="let phase of phaseArray.controls; let i = index" [formGroupName]="i">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <div class="Input">
              <mat-form-field>
                <mat-label>Select Attribute</mat-label>
                <mat-select formControlName="attribute" (selectionChange)="selectedAttribute($event.value)">
                  <ng-container *ngFor="let attribute of attributeArray[i]">
                    <mat-option [value]="attribute.asset_name"  [disabled]="i !== iterationCount - 1">{{ attribute.asset_name }}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error>Attribute is required</mat-error>
              </mat-form-field>
            </div>
            <div class="Input">
              <mat-form-field>
                <mat-label>Select Interface</mat-label>
                <mat-select formControlName="interface" (selectionChange)="onInterfaceChange($event.value,i)">
                  <ng-container *ngFor="let interface of interfaces">
                    <mat-option [value]="interface.interface_id"  [disabled]="i !== iterationCount - 1">{{ interface.name }}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error>Interface is required</mat-error>
              </mat-form-field>
            </div>
            <div class="Input">
              <mat-form-field>
                <mat-label>Select Channels</mat-label>
                <mat-select formControlName="channel" (selectionChange)="selectedChannel($event.value)" >
                  <ng-container *ngFor="let channel of channelArray[i]">
                    <mat-option [value]="channel" [disabled]="i !== iterationCount - 1">{{ channel}}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error>Channels is required</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
<p>{{jsonData | json}}</p>

</div> -->

<app-header></app-header>
		<main>
			<router-outlet>
			</router-outlet>
		</main>
<app-footer></app-footer>