<section class="section-testimonials">
    <div class="testimonials-container">
        <span style="font-size: 30px;font-weight: 700;color: #d26f28;">Build and Prize</span>

        <div class="testimonials">
            <figure class="testimonial">
                <h2 class="heading-secondary">User-Friendly Interface</h2>
                <p class="testimonial-text">An essential aspect of the customization feature is an intuitive and
                    user-friendly interface. The "Build and Price" button should be prominently displayed on the
                    website, making it easy for users to find. Clear instructions or tooltips should be provided to
                    guide users through the customization process, ensuring they know what to expect at each step.</p>
            </figure>

            <figure class="testimonial">
                <h2 class="heading-secondary">Detailed Vehicle Configuration</h2>
                <p class="testimonial-text">To cater to diverse customer preferences, Tesla's customization should offer
                    a wide range of choices, encompassing exterior colors, interior finishes, performance upgrades, and
                    additional features. By incorporating real-time updates, users can quickly understand the financial
                    impact of their selections.</p>

            </figure>

            <figure class="testimonial">
                <h2 class="heading-secondary">Interactive Features</h2>
                <p class="testimonial-text">An essential aspect of the customization feature is an intuitive and
                    user-friendly interface. The "Build and Price" button should be prominently displayed on the
                    website, making it easy for users to find. Clear instructions or tooltips should be provided to
                    guide users through the customization process, ensuring they know what to expect at each step.</p>
            </figure>

            <figure class="testimonial">
                <h2 class="heading-secondary">Transparency and Pricing</h2>
                <p class="testimonial-text">Tesla's website should prioritize clear pricing, displaying all relevant
                    costs like taxes, fees, incentives, and discounts. Including finance calculators helps users
                    estimate monthly payments based on their selected configuration and financing. Easy access to
                    contact or live chat assists users seeking customization help.</p>
            </figure>
        </div>
    </div>

    <div class="gallery">
        <figure class="gallery-item">
            <img src="../../assets/models.jpg" alt="Photo of beautifully
        arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="../../assets/modelx5.jpg" alt="Photo of beautifully
        arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="../../assets/modely.jpeg" alt="Photo of beautifully
        arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="../../assets/model3.jpeg" alt="Photo of beautifully
        arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="../../assets/modex.jpg" alt="Photo of beautifully
        arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="../../assets/modelx1.jpg" alt="Photo of beautifully
        arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="../../assets/modely.jpeg" alt="Photo of beautifully
        arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="../../assets/modelx4.jpg" alt="Photo of beautifully
        arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="../../assets/modelx6.jpg" alt="Photo of beautifully
        arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="../../assets/modelx5.jpg" alt="Photo of beautifully
        arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="../../assets/model3.jpeg" alt="Photo of beautifully
        arranged food" />
        </figure>
        <figure class="gallery-item">
            <img src="../../assets/modex.jpg" alt="Photo of beautifully
        arranged food" />
        </figure>
    </div>
</section>

  