/* car-detail.component.css */

.color-selection {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .color-selector {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .color-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .red {
    background-color: red;
    color: rgb(0, 0, 0);
  }
  
  .blue {
    background-color: blue;
    color: rgb(255, 255, 255);
  }
  
  .green {
    background-color: rgb(207, 216, 207);
    color: rgb(0, 0, 0);
  }
  
  /* Add more styling as needed */
  