<section class="section-modelx">
    <h2>{{car.model_name}}</h2>
    <div class="modelx">
        <div class="modelx-text-box">
            <h1 class="modelx-primary">Model X</h1>
            <h2 class="modelx-subtext">From $29,740*</h2>
            <p class="modelx-description">The Tesla Model X: A groundbreaking electric SUV, blending innovation, power,
                and sustainability. Futuristic design, rapid acceleration, spacious interior, and advanced safety
                features. Redefining luxury and efficiency in one package.</p>
            <a href="#" class="btn btn--full margin-right-sm">Order Now</a>
            <a href="#" class="btn btn--outline margin-right-sm">Demo Drive</a>
        </div>
        <div class="modelx-img-box">
            <img src="../../assets/modelx6.jpg" class="modelx-img" alt="collage of modelx" />
        </div>
    </div>
</section>