/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #cb616b;
    --action-color: #82c290;
    --tints:#fdf2e9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family:"sans-serif";
    line-height: 1;
    font-weight: 400;
    color: #555;
}

/* .container {
    margin-left: 40px;
}


.actionButton {
    background-color: var(--action-color) !important;
    width: 190px;
    left: -6px;
    height: 40px;
}

.btn {
    margin-left: 7px;
    margin-top: 10px;
}

.text {
    font-weight: bolder;
} */
/***************************/
.section-modelx {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.section-models{
  padding: 4.8rem 0 9.6rem 0;
}
.modelx-primary {
  color: #333;
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}
.modelx-subtext {
  color: #333;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.modelx-description {
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 4.8rem;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.modelx-img {
  width: 100%
}

.modelx {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  transition: background-color 1s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #ffff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outlines:link,
.btn--outlines:visited {
  background-color: #edd8c2;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}
.btn--outlines:hover,
.btn--outlines:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.section-features{
padding:9.6rem 0;
background-color: #e67e22;
}
/**************************/
/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  
    /* margin-bottom: 9.6rem; */
  }
  
  /* .grid:last-child {
    margin-bottom: 0;
  } */
  
  .grid:not(:last-child) {
    margin-bottom: 9.6rem;
  }
  
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
  }
  
  .grid--center-v {
    align-items: center;
  }
  
  .heading-primary,
  .heading-secondary,
  .heading-tertiary {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
  }
  
  .heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }
  
  .heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
  }
  
  .heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }
  
  .subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
  }
  
  .btn,
  .btn:link,
  .btn:visited {
    display: inline-block;
  
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
  
    /* Only necessary for .btn */
    border: none;
    cursor: pointer;
    font-family: inherit;
  
    /* Put transition on original "state" */
    /* transition: background-color 0.3s; */
    transition: all 0.3s;
  }
  
  .btn--full:link,
  .btn--full:visited {
    background-color: #e67e22;
    color: #fff;
  }
  
  .btn--full:hover,
  .btn--full:active {
    background-color: #cf711f;
  }
  
  .btn--outline:link,
  .btn--outline:visited {
    background-color: #fff;
    color: #555;
  }
  
  .btn--outline:hover,
  .btn--outline:active {
    background-color: #fdf2e9;
  
    /* border: 3px solid #fff; */
  
    /* Trick to add border inside */
    box-shadow: inset 0 0 0 3px #fff;
  }
  
  .btn--form {
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    padding: 1.2rem;
  }
  
  .btn--form:hover {
    background-color: #fff;
    color: #555;
  }
  
  .link:link,
  .link:visited {
    display: inline-block;
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
  }
  
  .link:hover,
  .link:active {
    color: #cf711f;
    border-bottom: 1px solid transparent;
  }
  
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  
  .list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  
  .list-icon {
    width: 3rem;
    height: 3rem;
    color: #e67e22;
  }
  
  *:focus {
    outline: none;
    /* outline: 4px dotted #e67e22; */
    /* outline-offset: 8px; */
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
  }
  
  /* HELPER/SETTINGS CLASSES */
  .margin-right-sm {
    margin-right: 1.6rem !important;
  }
  
  .margin-bottom-md {
    margin-bottom: 4.8rem !important;
  }
  
  .center-text {
    text-align: center;
  }
  
  strong {
    font-weight: 500;
  }
/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
  margin-top: 30px;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}